<!DOCTYPE html>
<html style="min-height: 100%">
  <head>
    <title>OWCBangalore</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="apple-touch-icon" sizes="57x57" href="assets/browsertag/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/browsertag/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/browsertag/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/browsertag/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/browsertag/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/browsertag/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/browsertag/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/browsertag/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/browsertag/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="assets/browsertag/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/browsertag/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/browsertag/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/browsertag/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link href="/assets/bootstrap.min.css" media="all" rel="stylesheet" />
    <link rel="stylesheet" href="homes.scss">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="/twitter-bootstrap/twitter-bootstrap-v2/docs/assets/css/bootstrap.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
   
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :stylesheet %>

  </head>
<body>
<div class="content">
    <% unless flash.empty? %>
         <script type="text/javascript">
              <% flash.each do |f| %>
            <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
             toastr['<%= type %>']('<%= f[1] %>');
         <% end %>
         </script>
    <% end %>
    <style type="text/css">body { margin: 0; padding-top: 80px; height: 100%; font-family: 'Open Sans',Arial,sans-serif;}</style>
  <%= nav_bar brand: image_tag("owclogo.png"), fixed: :top, responsive: true do %>
    <%= menu_group do %>
        <%= menu_item "Home" %>
        <%= drop_down "Bangalore" do %>
            <%= menu_item "Moving to Bangalore" %>
            <%= menu_item "Life if Bangalore" %>
        <% end %>
        <%= drop_down "Membership" do %>
            <%= menu_item "New Members" %>
            <%= menu_item "Renew Membership" %>
            <%= menu_item "Publications" %>
            <%= menu_item "Volunteer Opportunities" %>
            <%= menu_item "Public Calendar" %>
        <% end %>
        <%= drop_down "Our Work" do %>
            <%= menu_item "Charities" %>
            <%= menu_item "Contributions" %>
            <%= menu_item "Fundraising" %>
            <%= menu_item "Social Support Group" %>
        <% end %>
        <% if current_user %>
        <%= drop_down "Member's Only" do %>
            <%= menu_item "Chat Room" %>
            <%= menu_item "Member Calendar" %>
            <%= menu_item "Board Members" %>
            <%= menu_item "Payment Gateway" %>
        <% end %>
        <% end %>
    <% end %>
    <%= menu_group pull: :right do %>
        <% if current_user %>
          <%= menu_item "Hello,", current_user.first_name %>
          <%= menu_item "Inbox" %>
            <% if current_user.superadmin_role == true %>
            <%= menu_item "Admin" %>
            <% end %>
            <%= menu_item "Log Out", destroy_session_path %>
        <% else %>
          <%= drop_down "Login" do %>
            <%= form_for :user, url: "/login_user", html: { class: "loginbox pull-right" } do |f| %>
                        <%= f.label :email %>
                        <%= f.text_field :email, required: false, autofocus: true, id: "inputs" %>
                        <%= f.label :password, id: "pass" %>
                        <%= f.password_field :password, required: false, id: "inputs" %>
                         <%= f.submit "Login", id: "loginbutton", class: "btn btn-success" %>
                      <% end %>
           
          <% end %>
        <% end %>
    <% end %>
<% end %>

    <%= yield %>
</div>
  <% if controller.controller_name == "homes" %>
    <footer id="myFooter">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>About Us</h5>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Club Information</a></li>
                        <li><a href="#">Misison Statement</a></li>
                        <li><a href="#">Journey so Far</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Contact Us</h5>
                    <ul>
                        <li><a href="#">Contact Form</a></li>
                        <li><a href="#">Executive Comittee</a></li>
                        <li><a href="#">Trustee</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Advertisement</h5>
                    <ul>
                        <li><a href="#">Sponsors</a></li>
                        <li><a href="#">Sponsor Form</a></li>
                        <li><a href="#">Advertisement</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Community</h5>
                    <ul>
                        <li><a href="#">Get Involved</a></li>
                        <li><a href="#">Charities</a></li>
                        <li><a href="#">Social Support Group</a></li>
                    </ul>
                </div>
            </div>
            <!-- Here we use the Google Embed API to show Google Maps. -->
            <!-- In order for this to work in your project you will need to generate a unique API key.  -->
            <iframe id="map-container" frameborder="0" style="border:2px solid white"
                src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJbU60yXAWrjsR4E9-UejD3_g&key=AIzaSyBnKgvJ7b5maPy56J8lrE1CCC6SXWgr6fY&zoom=12" >
            </iframe>
        </div>
        <div class="social-networks">
            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
        </div>
        <div class="footer-copyright">
            <p>© 2016 Copyright Text </p>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <% else %>
    <footer id="myFooter">
        <div class="footer-copyright">
            <p>© 2016 Copyright Text </p>
        </div>
    </footer>
  <% end %>
</div>
  </body>
</html>
